body {
    font-family: monospace,sans-serif;
    max-width: 70em;
    color: lightgreen;
    margin:auto;
    background-color:lemonchiffon;    
}

a {
    display: block;
    color: rgb(46, 81, 46);
    margin-top:12px ;
    margin-bottom: 12px;
}
img {
    height: 230px;
}

p{
    display: block;
    color: rgb(64, 123, 64);
    margin-top:1px ;
margin-bottom: 40px;
    border-bottom: 2px solid grey;
}

cap {
    display: block;
    color: rgb(46, 81, 46);
    font-size: 8px; 
}

copyright { 
    display: block;
    color: rgb(46, 81, 46);
    font-size: 8px;
}